:root {
  --main-color: hsl(54, 31%, 88%);
  --secundary-color: hsl(205, 79%, 32%);
  --font-color: hsl(205, 87%, 32%);
  --body-font: 'Poppins', sans-serif;
  --title-font: ltc-goudy-oldstyle-pro, serif;
  --site-font: 1.3rem;
  --title-color: hsl(205, 87%, 32%);
}

//*******KEY FRAMES ANIMATIONS*******

@keyframes Updown {
  10% {
    transform: translateY(-0.5rem);
  }
  80% {
    transform: translateY(0.3rem);
  }
}
